// COLORS
$primary-color: #D31027;
$secondary-color: #D31027;

// $primary-color: #1FA2FF;
// $secondary-color: #1FA2FF;

$white-color: #fff;

$dark-grey: #333333;
$grey: rgb(231, 235, 241);
$dark-text: #2e0202; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
